.purple-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
}

.obiettivi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.objective-claim {
  margin: 50px 0 0 0;
  color: white;
  width: 100%;
}

.objective-card {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin: 40px 20px;
  color: #502379;
  background-color: white;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 5px 7px 8px 3px rgba(0, 0, 0, 0.48);
}

.objective-small {
  display: flex;
  align-items: center;
  width: 40%;
}

.obective-big {
  width: 60%;
}
.objective-number {
  font-size: 170px;
  margin: 0 10px 0 0;
}

.objective-title {
  font-size: 20px;
  font-weight: bold;
}

.objective-text {
  font-size: 12px;
  text-align: justify;
  line-height: 1.7;
}

@media only screen and (max-width: 900px) {
}
