body {
  color: #502379;
  background-color: white;
  font-family: "Ubuntu";
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #502379;
  background-image: linear-gradient(359deg, #502379 0%, #9b5ecf 100%);
}
